html, body {
	background-color: rgb(18, 23, 28);
    color: white;
}
#round {
    border-radius: 25px;
    background: rgba(0, 150, 219, 0.25);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}
div#pop-up {
  display: none;
  position: absolute;
  width: 500px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}